.o_navbar, .o_menu_sections,
.o_navbar * {
    background-color: #BF1F21 !important;
    color: #EED072 !important;
}
.page {
    font-family: 'Times New Roman', Times, serif;
}

/*.o_home_menu {*/
/*    background: url("/army_results_manager/static/src/img/logo.png") no-repeat center center fixed !important;*/
/*    background-size: cover !important;*/
/*}*/

