.camera-item {
    position: relative;
}

.open-camera-btn {
    position: absolute;
    bottom: 6px;
    right: 6px;
    padding: 4px 8px;
    font-size: 12px;
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


.camera-container {
    width: 100vw;
    height: 100vh;
    overflow: auto;        /* scroll ngang + dọc */
    background: #000;
}

.camera-grid {
    display: grid;
    gap: 2px;
    background: #000;
}

/* TỪ QUAN TRỌNG NHẤT */
/* Mỗi ô sẽ có chiều cao bằng: chiều cao màn / số rows */
.camera-grid[data-rows] {
    height: 100%;
    grid-auto-rows: calc(100vh / var(--rows));
}

.camera-item {
    width: 100%;
    height: 100%;
    background: white;
    border: 1px solid black;
}

.camera-frame {
    width: 100%;
    height: 100%;
    border: none;
    background: black;
}
